In [1]:
!python -V

Python 3.9.12

In [29]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from xgboost import XGBClassifier
from sklearn import metrics

In [3]:
import mlflow
mlflow.set_tracking_uri("sqlite:///mlflow.db")
mlflow.set_experiment("exp1-20-June-2022")

In [4]:
from sklearn import datasets

In [5]:
iris = datasets.load_iris()

In [6]:
iris_data = iris.data

In [7]:
features = iris.feature_names

In [8]:
iris_df = pd.DataFrame(data=iris_data,columns=features)
iris_df.head(3)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2

In [9]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [10]:
iris_df['target'] = iris.target

In [11]:
iris_df.head(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0

In [12]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [13]:
x = iris_df.drop(labels=['target'],axis=1)
y = iris_df['target']

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.9)

In [16]:
y_train

7      0
47     0
32     0
135    2
22     0
      ..
131    2
101    2
44     0
30     0
97     1
Name: target, Length: 135, dtype: int64

In [25]:
 clf1 = make_pipeline(StandardScaler(),
...                     SGDClassifier(max_iter=1000, tol=1e-3))

In [26]:
with mlflow.start_run():
    clf1.fit(x_train,y_train)

In [24]:
clf.predict(x_test)

array([0, 2, 0, 1, 2, 0, 0, 1, 1, 0, 0, 1, 2, 1, 2])

In [28]:
xgb_classifier = XGBClassifier(max_depth=3, n_estimators=1000, learning_rate=0.075, colsample_bytree=0.7, subsample=0.8)

In [33]:
with mlflow.start_run():
    mlflow.set_tag("developer","arshad")
    mlflow.set_tags({"stage" : "development","algorithm":"XGBOOST"})
    
    max_depth = 3
    n_estimator = 1000
    learning_rate = 0.1
    mlflow.log_params({"max_depth":max_depth,"n_estimators":n_estimator,"learning_rate" : learning_rate})
    xgb_classifier = XGBClassifier(max_depth=max_depth, n_estimators=n_estimator, learning_rate=learning_rate, colsample_bytree=0.7, subsample=0.8)
    xgb_classifier.fit(x_train,y_train)
    y_pred = xgb_classifier.predict(x_test)
    acc = metrics.accuracy_score(y_test,y_pred)
    mlflow.log_metric("accuracy",acc)

In [34]:
acc

0.9333333333333333